### MENANGANI WHITESPACE PADA DATA FRAME ###

### Import Modules ###

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame ###

In [3]:
data = {'nim':['10', '11', '12', '13', ''],
       'nama':['adi', ' ', 'tejo', ' ', 'bejo']}

df=pd.DataFrame(data)
df
#WhiteSpace(karakter spasi) akan menimbulkan problem pada data

  nim  nama
0  10   adi
1  11
2  12  tejo
3  13
4      bejo

In [4]:
df.info() #bisa melihat info data frame yang dimiliki

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nim     5 non-null      object
 1   nama    5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [5]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df
# r'^\s*$' merupakan reguler expretion di awali dan diakhiri oleh batas uyang bisa ditentukan

   nim  nama
0   10   adi
1   11   NaN
2   12  tejo
3   13   NaN
4  NaN  bejo

In [6]:
df.info( )
#data yang hilang sebaiknya diinfokan dengan NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nim     4 non-null      object
 1   nama    3 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

2173004 Velinda Novelia Candra