# SELEKSI BARIS DENGAN BETWEEN() ###

### Import Modules ##

In [3]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame ###

In [13]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)

df

   A  B  C  D  E
0  2  6  3  6  8
1  7  3  9  9  1
2  9  5  5  6  3
3  3  3  7  9  2
4  9  9  3  7  4
5  2  8  7  4  1
6  8  2  7  2  3
7  7  1  8  1  6
8  9  5  9  4  5
9  4  4  5  5  7

### Seleksi baris dengan between() ##

In [14]:
df[df['A'].between(2, 5)] #inclusive: kedua nilai akan diikutsertakan

   A  B  C  D  E
0  2  6  3  6  8
3  3  3  7  9  2
5  2  8  7  4  1
9  4  4  5  5  7

In [15]:
df[df['A'].between(2, 5, inclusive=False)]

C:\Users\Velin\AppData\Local\Temp/ipykernel_35152/2550752053.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
3  3  3  7  9  2
9  4  4  5  5  7

2173004 Velinda Novelia Candra