#  MENGGABUNGKAN (MERGE) DUA BUAH DATA FRAME SECARA BERDAMPINGAN ###

### Import Modules ###

In [4]:
import pandas as pd

print(pd.__version__)

1.3.4

### Persiapan Data Frame ##

In [6]:
d1 = {'col1':[1, 2, 3],
     'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [7]:
d2 = {'col1':[4, 5, 6],
     'col2':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

   col1  col2
0     4    40
1     5    50
2     6    60

## Untuk menggabungkan dua buah data frame kita akan menggunakan merge ##

In [9]:
df = pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1_x  col2_x  col1_y  col2_y
0       1      10       4      40
1       2      20       5      50
2       3      30       6      60

2173004_Velinda Novelia Candra