# MEMERIKSA KESAMAAN ANTAR DUA BUAH KOLOM(SERIES) PADA DATA FRAME ##

## Import Modules ###

In [1]:
import pandas as pd
import numpy as np

print (pd.__version__)
print(np.__version__)

1.3.4
1.20.3

# Persiapan Data Frame ##

In [4]:
data= {'A':[15, 15, 18, np.nan, 12],
       'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

## Mengenal Pandas Series ###

In [5]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [6]:
type(df['A'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

## Memeriksa Kesamaan Dengan Operator == ###

In [9]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

## Memeriksa Kesamaan Dengan Method equals() ###

In [10]:
df['A'].equals(df['B'])

True

## Memeriksa Kesamaan Antar Dua Data Frame###

In [11]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [12]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

Jangan Mengguankan === lebih baik memakai equals