# MENGHITUNG JUMLAH BARIS MENURUT KRITERIA TERTENTU ###

### Import Modules ###

In [1]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame ###

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)

df

   A  B  C  D  E
0  7  2  7  1  7
1  5  9  9  9  6
2  3  5  6  9  6
3  1  8  2  9  1
4  9  8  2  9  8
5  7  8  2  6  2
6  2  3  8  1  6
7  7  7  7  7  1
8  7  8  8  9  7
9  9  8  8  1  9

### Menghitung Jumlah Baris Menurut Kriteria Tertentu ###

In [4]:
(df['A']<5).sum() #secara absolut

3

In [3]:
(df['A']<5).mean() #secara proposional

0.3

2173004 Velinda Novelia Candra