# SELEKSI WEEKDAYS DAN WEEKENDS PADA DATA DERET WAKTU (TIME SERIES) ###

### Import Modules ###

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame ###

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

C:\Users\Velin\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

            col1  col2
2000-01-01    12    16
2000-01-02     9    14
2000-01-03    15    10
2000-01-04    13     3
2000-01-05    17    16
...          ...   ...
2000-12-26    18     6
2000-12-27     6    15
2000-12-28     8     7
2000-12-29     2    19
2000-12-30    17    17

[365 rows x 2 columns]

### Seleksi Weekdays dan Weekends ###

In [6]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7) #untuk menampilkan 7 baris pertama

            col1  col2
2000-01-03    15    10
2000-01-04    13     3
2000-01-05    17    16
2000-01-06    10    18
2000-01-07    16    12
2000-01-10     8    19
2000-01-11     1     3

In [7]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7) #untuk menampilkan 7 baris pertama

            col1  col2
2000-01-01    12    16
2000-01-02     9    14
2000-01-08    15     4
2000-01-09     8    10
2000-01-15    16     5
2000-01-16    17    16
2000-01-22     9    10

In [ ]:
2173004 Velinda Novelia Candra