# RESAMPLONG PADA DATA DERET WAKTU (TIME SERIES DATA) ###

## Import Modules ###

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame ###

In [3]:
n_rows = 365 * 24 #24 merepresentasikan jumlah jam pada 1 hari sedangkan 365 merepresentasikan jumlah hari dari 1 tahun
n_cols = 2
cols = ('col1', 'col2')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols) #jangkauannya dari 1 - 20

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df
#warning message muncul karena kita menggunakan pd.util.makeDateIndex

C:\Users\Velin\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00     9     2
2000-01-01 01:00:00    16     6
2000-01-01 02:00:00     6     1
2000-01-01 03:00:00     6    13
2000-01-01 04:00:00     1    17
...                   ...   ...
2000-12-30 19:00:00     5     8
2000-12-30 20:00:00     8    15
2000-12-30 21:00:00     6    15
2000-12-30 22:00:00    17     2
2000-12-30 23:00:00    10    19

[8760 rows x 2 columns]

### Resampling Data Dengan Interval Monthly ###

In [4]:
df.resample('M')['col1'].sum().to_frame()

            col1
2000-01-31  7512
2000-02-29  7057
2000-03-31  7430
2000-04-30  7323
2000-05-31  7319
2000-06-30  7072
2000-07-31  7424
2000-08-31  7817
2000-09-30  7024
2000-10-31  7510
2000-11-30  7315
2000-12-31  6957

### Resampling Data Dengan Interval Daily ##

In [5]:
df.resample('D')['col1'].sum().to_frame()

            col1
2000-01-01   212
2000-01-02   215
2000-01-03   249
2000-01-04   254
2000-01-05   276
...          ...
2000-12-26   213
2000-12-27   189
2000-12-28   216
2000-12-29   255
2000-12-30   188

[365 rows x 1 columns]

2173004_Velinda Novelia Candra