# MENGENAL TIPE DATA ORDINAL PADA PANDAS ###

### Import Modules ###

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

### Persiapan Data Frame ###

In [3]:
d = {'pelanggan':[11, 12, 13, 14],
    'kepuasan':['baik', 'cukup', 'buruk', 'cukup']} #data ordinal hanya bisa dipahami oleh manusia

df = pd.DataFrame(d)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

### Tipe Data Ordinal Pada Pandas

In [11]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'],
                                   ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
2         13    buruk
1         12    cukup
3         14    cukup

In [12]:
df = df.sort_values('kepuasan', ascending=True) # ascending artinya mengurutkan dari paling bawah ke atas
df

   pelanggan kepuasan
2         13    buruk
1         12    cukup
3         14    cukup
0         11     baik

In [14]:
df[df['kepuasan'] > 'cukup'] #seleksi baris

   pelanggan kepuasan
0         11     baik

In [15]:
df[df['kepuasan'] >= 'cukup']

   pelanggan kepuasan
1         12    cukup
3         14    cukup
0         11     baik

2173004 Velinda Novelia Candra